<div class="container">
    <!-- {{actor | json}} -->
    <h2>Actor {{actor._id ? "Update": "Add"}} for movie: {{movie.title}}</h2>
    <span style="color: green;">{{message}}</span>
    <span style="color: red;">{{errorMessage}}</span>

    <form #actorUpdate="ngForm" (ngSubmit)="doSubmit(actorUpdate)">
        <div class="row rowPadding">
            <div class="col-xs-12 col-md-3">
                Actor:
            </div>
            <div class="col-xs-12 col-md-9">
                <input type="text" name="actor" [(ngModel)]="actor.actor" placeholder="Actor"
                    class="form-control border" />
            </div>
        </div>
        <div class="row rowPadding">
            <div class="col-xs-12 col-md-3">
                Debuit Year:
            </div>
            <div class="col-xs-12 col-md-9">
                <input type="number" name="debut_year" [(ngModel)]="actor.debut_year" placeholder="Debuit Year"
                    class="form-control border" />
            </div>
        </div>
        <div class="row rowPadding">
            <div class="col-xs-12 col-md-3">
            </div>
            <div class="col-xs-12 col-md-9">
                <button class="btn btn-success" *ngIf="!actor._id">ADD</button>
                <button class="btn btn-info" *ngIf="actor._id">UPDATE</button>
            </div>
        </div>
    </form>