<div class="container">
    <form>

        <h1>Create Movie</h1>
        <div class="row rowPadding">
            <div class="col-xs-12 col-md-3">
                <label>Title</label>
            </div>
            <input placeholder="Title" name="title" formControlName="title" class="form-control border">
        </div>
        <div class="row rowPadding">
            <div class="col-xs-12 col-md-3">
                <label>Year</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <input placeholder="Year" name="year" formControlName="year" class="form-control border">
            </div>
        </div>
        <div class="row rowPadding">
            <div class="col-xs-12 col-md-3">
                <label>Rating</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <input placeholder="Rating" name="rating" class="form-control border">
            </div>
        </div>
        <div class=" row rowPadding">
            <div class="col-xs-12 col-md-3"></div>
            <div class="col-xs-12 col-md-9">
                <button class="btn btn-success" type="submit">Update Movie</button>
                <button class="btn btn-success" type="submit">Insert Movie</button>
                <button class="btn btn-info" type="reset">Reset</button>
            </div>
        </div>

    </form>
</div>